.seating-chart {
    margin: 20px;
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .summary {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  
  .sections-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .section {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
  }
  
  .seats {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    gap: 5px;
    justify-content: center;
  }
  
  /* .seat {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .seat.selected {
    background-color: green;
    color: white;
  }
  
  .seat.booked {
    background-color: red;
    color: white;
    cursor: not-allowed; */
  
  .payment-page {
    text-align: center;
  }
  
  .payment-page h2 {
    margin-bottom: 20px;
  }
  
  .payment-page p {
    margin: 10px 0;
  }
  
  .payment-page button {
    padding: 10px 20px;
    background-color: #3399cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-page button:hover {
    background-color: #2879a3;
  }
  img{
    margin:100px 20px 20px;
    max-width: 700px;
    max-height: 700px;
  }
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .seat.selected {
    background-color: green;
    color: white;
  }
  
  .seat.booked {
    background-color: red;
    color: white;
    cursor: not-allowed;
  }
  /* Additional styling for processing payment */
button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.seat.available {
  background-color: green;
}
